header{
    background-color: #97BFEA;
    height: 100px;
    background-image: url(./imgs/0.png),
    url(./imgs/1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 1% 3%, 98% 3%;
    background-size: 35%, 8%;
}

h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #173963;
    margin-left: 38%;
    margin-top: 2%;
}

.container{
    padding: 1%;
}


nav{
    display: flex;
}

input{
    margin-left: 80%;
    margin-top: 15%;
    width: 10%;
}

.botao0{
    background: url(./imgs/3.png);
    background-size: cover;
    border: none;
    margin-top: 38px;
    margin-left: 190px;
    width: 30px;
    height: 30px;

}

.botao{
    margin-top: 3%;
    margin-left: 35%;
    width: 130px;
}

.botao2{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 5%;
    width: 130px;
}

table{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

#colaborador, #ordem{
    padding-left: 7%;
}

#chamada{
    padding-left: 9%;
}

#status{
    padding-left: 10%;
}

#linhas{
    padding-left: 10%;
}


/*responsivo 1200*/
@media screen and (max-width: 1200px){
    header{
        background-color: #97BFEA;
        height: 100px;
        background-image: url(./imgs/0.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 50% 40%;
        background-size: auto;
    }

    h1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #173963;
        margin-left: 25%;
        margin-top: 2%;
    }

    nav{
        display: flex;
    }
    
    input{
        margin-left: 45px;
        margin-top: 25px;
        width: 70%;
    }
    
    .botao0{
        margin-top: 30px;
        margin-left: 55px;
        width: 30px;
    }
    
    .botao{
        margin-top: 25px;
        margin-left: 5%;
        width: 130px;
    }
    
    .botao2{
        margin-top: 25px;
        margin-right: 5%;
        width: 130px;
    }

    table{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 3%;
    }

    #linhas{
        padding-left: 5%;
    }

    #colaborador, #chamada, #status{
        padding-left: 5%;
    }

    #ordem{
        padding-left: 2%;
    }

    
}