header{
    background-color: #97BFEA;
    height: 100px;
    background-image: url(./img/0.png),
    url(./img/1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 1% 3%, 98% 3%;
    background-size: 35%, 8%;
}

h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #173963;
    margin-left: 38%;
    margin-top: 2%;
}

.container{
    padding: 1%;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 5%
}

#ninho, #ps, #estado{
    margin-left: 10%;
}


#foto, #urgen, #noronha{
    margin-left: 30%;
}


#kiwi, #po, #status{
    margin-left: 10%;
}

#ovomaltine, #urgencia, #piracicaba{
    margin-left: 30%;
}

textarea{
    resize: none;
}

.botao{
    margin-top: 3%;
    margin-left: 40%;
    width: 150px;  
}

/*responsivo 1200*/
@media screen and (max-width: 1200px){
    header{
        background-color: #97BFEA;
        height: 100px;
        background-image: url(./img/0.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 50% 40%;
        background-size: auto;
    }

    h1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #173963;
        margin-left: 25%;
        margin-top: 2%;
    }

    #kiwi, #po, #status, #ovomaltine, #urgencia, #piracicaba{
        margin-left: 5%;
        margin-top: 5%;
    }

    #ninho, #ps, #estado, #foto, #urgen, #noronha{
        margin-left: 5%;
        width: 90%;
    }

    .botao{
        margin-top: 3%;
        margin-left: 35%;
        width: 150px;  
    }
}