body{
    background: url(./imgs/0.png),
    url(./imgs/1.png),
    url(./imgs/2.png);
    background-size: auto, 150px 150px, 370px 260px;
    background-position: 100px 60px, 240px 500px, 150px 110px;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.outside{
    background-color: #FFFFFF;
    margin-left: 50%;
    border-radius: 23% 10% 10% 22% / 45% 0% 0% 54%;
    height: 656px;
}


p{
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: #173963;
    margin-left: 35%;
    padding-top: 8%;
}


.email{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10%;
}

.senha{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 2%;
}

.botao{

    margin-bottom: 5%;
    margin-left: 40%;
    width: 150px;  
}


/*responsivo*/
@media screen and (max-width: 1200px){
    body{
        background: url(./imgs/0.png),
        url(./imgs/2.png);
        background-repeat: no-repeat, no-repeat;
        background-position: 50% 2%, 50% 15%;
        background-size: auto, 50%;
    }

    .outside{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 40%;
        border-radius: 100% 100% 0% 0% / 100% 100% 0% 0%;
        width: auto;
        height: 580px;

    }

    p{
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
        color: #173963;
        margin-left: center;
        padding-bottom: 0%;
        padding-top: 5%;
    }

    .email{
        margin-left: 10%;
        margin-right: 0%;
        margin-top: 5%;
        width: 80%;
    }
    
    .senha{
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 0%;
        width: 80%;
    }
    
    .botao{
        margin-top: 5%;
        margin-left: 40%;
        width: 100px;  
    }

}
