header{
    background-color: #97BFEA;
    height: 100px;
    background: url(../images/0.png),
    url(../images/1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 1% 3%, 98% 3%;
    background-size: 35%, 8%;
}

#sair{
    margin-left: 1240px;
    margin-top: 600px;
    position: fixed;
    width: 90px;
    border: none;
    padding: 0px 0px 0px 0px
}

.container{
    padding: 1%;
}


nav{
    display: flex;
}

input{
    margin-left: 80%;
    margin-top: 15%;
    width: 10%;
}

.botao0{
    background: url(../images/3.png);
    background-size: cover;
    border: none;
    margin-top: 38px;
    margin-left: 190px;
    width: 30px;
    height: 30px;

}

.botao{
    margin-top: 3%;
    margin-left: 3%;
    width: 130px;
}

.bioma{
    margin-top: 3%;
    margin-left: 25%;
    width: 130px
}

.botao2{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 5%;
    width: 130px;
}

table{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}

#ordem{
    padding-left: -1%;
}

#colaborador{
    padding-left: 0%;
}

#chamada{
    padding-left: 9%;
}

#status{
    padding-left: 1%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
}

h5{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
    margin-top: 5px;
}

h2{
    font-family: Arial, Helvetica, sans-serif; 
    color: #000;
    font-size: 20px;
}

dd{
    font-family: Arial, Helvetica, sans-serif; 
    color: #000;
    margin-left: 2px;
}


/*responsivo 1200*/
@media screen and (max-width: 1200px){
    header{
        background-color: #97BFEA;
        height: 100px;
        background: url(../images/0.png);
        background-repeat: no-repeat, no-repeat;
        background-position: center;
        background-size: auto;
    }

    h1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #173963;
        margin-left: 25%;
        margin-top: 2%;
    }

    nav{
        display: flex;
    }
    
    input{
        margin-left: 10%;
        margin-top: 25px;
    }
    
    .botao0{
        margin-top: 30px;
        margin-left: 3%;
        width: 30px;
        height: 30px;
    }
    
    .bioma{
        margin-top: 25px;
        margin-left: 5%;
        width: 130px;
    }
    
    .botao{
        margin-top: 25px;
        margin-left: 2%;
        width: 130px;
    }
    
    .botao2{
        margin-top: 25px;
        margin-right: 5%;
        width: 130px;
    }

    table{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 3%;
    }

    #linhas{
        padding-left: 5%;
    }

    #colaborador{
        padding-left: 0%;
    }

    #ordem{
        padding-left: 0%;
    }

    
}